body{
    font-family: 'Cute Font';
    font-size: 2em;
}

header{
    background-color: whitesmoke ;
}

header h1{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

ul{
    list-style-image: url(../img/logo1.png);
    list-style-position: inside;
}

nav ul{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

li{
    margin: 100px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: darkcyan;
}

.logo{
    display:block;
    margin: auto;
    height: 15%;
    width: 15%;
}

#lista{
    background-color: blueviolet;
}

#lista li{
    display:inline;
    padding-left: 3px;
    padding-right: 3px;
}