html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
body {
  line-height: 1;
  font-family: 'Lato', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

.logo{
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.headerInicio h1{
    text-align: center;
    font-size: 2.5em;

}
#lista{
    background-color: blueviolet;
    padding: 20px;
}
#lista li{
    display: inline;
    margin-left: 10em;
    text-align: center;
    color: blanchedalmond;
    

    /*padding: 20px;*/
}

.section{
  background-color: cornflowerblue;
  margin-top: 1.25em;
  margin-left: 5em;
  margin-right: 5em;
  padding: 2em;
  border-radius: .5em;
  border: black;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.encabezados{
  background-color: black;
  color: aliceblue;
  border-radius: 1em;
  margin-left: 20em;
  margin-right: 20em;
  margin-top: 1em;
  padding: 2em;
  text-align: center;
  font-size: 1.45em;
}

.parrafos{
  text-align: justify;
  color: aliceblue;
}
